
#breakdown {
    margin: 30px 0;
}

.selector {
    text-align: center;
}

.selector .nav-list {
    text-align: left;
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    padding: 0;
}

.selector li:first-child a {
    border-radius: 6px 6px 0 0;
}

.selector li:last-child a {
    border-radius: 0 0 6px 6px;
}

.selector .nav-list a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}

.selector .nav-list a:hover {
    background-color: #F5F5F5;
    text-decoration: none;
    cursor: pointer;
}

.selector .nav-list .active a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.selector .nav-list .active a:hover {
    background-color: #0088CC;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rbga(0, 0, 0, 0.2);
}

.selector .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}

.selector .active .icon-chevron-right {
    opacity: 1;
}

.blog {
    padding: 10px 20px;
}

.blog textarea {
    resize: none;
    width: 100%;
    height: 130px;
}

.blog input {
    width: 100%;
}

.blog .title {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
}

.blog .alert {
    text-align: center;
}

.comments {
    padding: 0 20px;
}

.comment-controls {
    width: 100%;
}

.comment-controls input {
    width: 80%;
}

.comment-controls button {
    float: right;
    margin-left: 10px;
}

.blog-controls button {
    margin-left: 10px;
}

.blog-controls {
    text-align: right;
}

.sidebar {
    text-align: center;
}

.stats-data {
    border: 1px solid #E5E5E5;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin: 0 auto;
}

.stats-data h4 {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 5px;
}

.stats-data table {
    margin: 10px 10px;
    width: 100%; 
    background: transparent;
}

.stats-data table.overall tr {
    height: 30px;
}

.stats-data td.count div {
    padding-right: 5px;
    border-radius: 10px 10px 10px 10px;
    color: #FEFEFE;
    letter-spacing: 1px;
}

.stats-data div.count-win {
    background-color: #468847;
}

.stats-data div.count-loss {
    background-color: #B94A48;
}

.stats-data div.count-violation {
    background-color: #F89406;
}

.stats-data td {
    padding: 3px;
    vertical-align: middle;
}

.stats-data td.name {
    text-align: left;
    width: 160px;
}

.stats-data td.count {
    text-align: right; 
    width: 40px;
}

.stats-data td.percent {
    text-align: right; 
    padding-right: 20px;
    font-size: smaller;
    width: 40px;
}

.stats-data table.teams {
    margin-top: 20px;
}

