
h2 {
  margin: 10px;
}

h3 {
  margin: 10px;
}

#edit {
  margin: 10px;
}

#edit a:link {
  text-decoration: underline;
}

table {
  margin: 20px;
  border-spacing: 0px;
}

.entry {
  font-weight: bold;
}

td {
  padding: 5px 15px 5px 5px;
  border-top: 1px black solid;
}

.last td {
  border-bottom: 1px black solid;
}


