
.game {
  float: left;
  border: 1px gray solid;
  width: 150px;
  padding: 0px 5px;
  margin: 5px;
}

#save {
  float: right;
  font-size: 20px;
  border: 1px #B05F3C solid;
  background-color: darkgrey;
  margin: 5px;
  padding: 2px;
  border-radius: 5px;
}

#save a:hover {
  color: black;
}

#results hr {
  clear: both;
  color: #B05F3C;
  margin: 5px 0px;
}

#results h2 {
}

.game div input {
  margin-right: 10px;
}

.game div {
  margin: 5px 0px 5px 0px;
}

.winner {
  font-weight: bold;
}
