
* {
  margin: 0;
  padding: 0;
}

body {
  margin:0px;
  background-image:url(/media/footballfield.jpg);
  background-repeat:repeat-x;
  background-color:#FFFFFF;/*#A8BD8E;*/
  font-family:'Helvetica', Arial, Verdana;
  /*font-family: lucida grande, lucida sans unicode, sans-serif;*/
}

a {
  text-decoration: none;
}

a:link, a:visited, a:active {
  color: black;
}

a:hover {
  color: gray;
}

ul {
  list-style-type: none;
}

#manager_link {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  left: 150px;
  /*border: 2px red solid;*/
  z-index: 1;
}

#maincontainer {
  width:900px;
  margin:0px auto;
}

#maincontainer #topcontainer {
  float:left;
  width:900px;
  margin:0px;
  padding:0px 0px 0px 0px;
}

#topcontainer #logocontainer {
  float:left;
  width: 500px;
  margin: 30px 0px 0px 0px;
  padding: 0px 0px 20px 30px;
}

#logocontainer img {
  float:left;
}

#logocontainer h1 {
  /*width:450px;*/
  font-family:Arial, Helvetica, sans-serif;
  /*font-size:31px;*/
  text-align:right;
  font-weight:bold;
  color:#F8F4D5;
  margin:0px;
  padding:0px;
}

#logocontainer h2 {
  /*width:450px;*/
  font-family:Arial, Helvetica, sans-serif;
  text-align:right;
  font-weight:bold;
  color:#F8F4D5;
  margin:0px;
  padding:20px 0px 0px 0px;
}

#topcontainer #navicontainer {
  float:right;
  margin:0px;
  padding:15px 10px 5px 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#maincontainer #bodycontainer {
  float:left;
  width:900px;
  background-color:#d2b48c;
  margin:0px;
  padding:10px;
  border-radius: 10px;
}
#navicontainer {
  float:left;
  background:#d2b48c;
  font-size:15px;
  line-height:normal;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  padding-top:10px; 
  padding-bottom:5px;
  height:26px;
  margin:0px;
  line-height:normal;
  /*   height:100%;Fix for MSIE peekaboo bug */
}

#navicontainer ul {
  margin:0;
  list-style:none;
  float:left;
  padding:0px;
}

#navicontainer li {
  display:inline;
  margin:0;
  padding:0;
  voice-family:"\"}\"";
  float:left;
}

#navicontainer a {
  float:left;
  /*background-color:#000000;*/
  margin:0;
  padding:0px;
  text-decoration:none;
}

#navicontainer a span {
  float:left;
  /*display:block;*/
  /*background-color:#000000;*/
  color:black;
  padding:7px 7px 3px 7px; 
  voice-family:"\"}\"";
  padding-top:2px;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#navicontainer a span {float:none;}
/*
#navicontainer a:hover {
  background-position:0% -42px;
  color:#FFFFFF;
}

#navicontainer a:hover span {
  background-position:100% -42px;
  color:#FFFFFF;
}

#navicontainer #current a {
  background-position:0% -42px;
  color:#FFFFFF;
}

#navicontainer #current a span {
  background-position:100% -42px;
  color:#FFFFFF;
}
*/

