
table {
  width: 100%;
  padding: 0px;
  border-spacing: 0px;
}

table th {
  font-size: 12px;
  border-right: 1px gray solid;
  width: 50px;
}

table tr {
  border-top: 1px gray solid;
}

table td {
  border-top: 1px gray solid;
  width: 50px;
}

td.team {
  background-color: white; 
  margin: 0px;
  border-left: 1px gray solid;
  text-align: center;
  vertical-align: center;
  padding: 3px 0px;
}

td.name {
  padding-left: 5px;
  width: 120px;
}

.first_inactive_row td {
  border-top: 3px gray dotted;
}

.last_inactive_row td {
  border-bottom: 3px gray solid;
}

td.rebuy {
  background-color: green;
  color: yellow;
}

td.none {
  background-color: black;
  color: black;
}

td.loss {
  background-color: #cc0000;
}

td.violation {
  background-color: #660033;
  color: yellow;
}

td.stat {
  text-align: center;
  padding: 3px 0px;
}
