<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>JG 2012 NFL Suicide Pool - {% block title %}Template Page Title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Ryan Ernst"/>

    <!-- styles -->
    <!-- <link href="/css/bootstrap.less" rel="stylesheet/less" type="text/css" />-->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="/css/base.css" rel="stylesheet" />
    {% if css %}
    <link rel="stylesheet" type="text/css" href="/css/{{ css }}.css" />
    {% endif %}
    <style type="text/css">
        /* turn off anchor focus border */
        :focus {outline:none;}
        ::-moz-focus-inner {border:0;}
    </style>


    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav icons -->
    <link rel="shortcut icon" href="/img/favicon.png"/>
    <!--
    TODO: generate icons for apple
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    -->

    <!-- dummy init() so page specific js files can override --> 
    <script type="text/javascript">
        function init_page() {}
        function init() {
            $('.dropdown-toggle').dropdown();
            // Fix input element click problem
            $('.login_box input, .login_box label').click(function(e) {
                e.stopPropagation();
                return false;
            });
            init_page();
        }
    </script>
    {% if js %}
    <script src="/js/{{ js }}.js" type="text/javascript"></script>
    {% endif %}
    <script type="text/javascript" src="/js/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/bootstrap-collapse.js"></script>

</head>

<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="brand" style="margin-top: -10px">
                <div>Jack Gonzales'</div>
                <div>2012 NFL Suicide Pool</div>
            </div>

            <a class="btn btn-navbar" style="margin-top: 30px"
               data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="nav-collapse">
                <ul class="nav">
                    {% for nav in navs %}
                    <li {% if nav.1 == active_nav %}class="active"{% endif %}>
                        <a href="{{ nav.1 }}">{{ nav.0 }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <ul class="nav pull-right">
                    <li class="login_container">
                    <div>
                    {% if user %}
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                {% if user.name %}{{ user.name }}{% else %}{{ user.email }}{% endif %}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a tabindex="-1" href="/setup/email">Change Email</a></li>
                                <li><a tabindex="-1" href="/setup/password">{% if user.password %}Change{% else %}Add{% endif %} Password</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                Login
                                <span class="caret"></span>
                            </a>
                        <div class="dropdown-menu pull-right">
                        <form class="login_box" action="/login" method="POST">
                            <fieldset>
                                <label for="email">Email</label>
                                <input name="email" type="text"/>
                            </fieldset>
                            <fieldset>
                                <label for="password">Password</label>
                                <input name="password" type="password"/>
                            </fieldset>
                            <button class="btn btn-primary">Sign in</button>
                        </form>
                        </div>
                        </div>
                    {% endif %}
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <!--<div style="margin:0 5%">-->
        {% block content %}
        <p>Template content</p>
        {% endblock %}
        <!--</div>-->
    </div> <!-- /container -->

    <script type="text/javascript"> window.onload = init; </script>

</body>
</html>
