{% extends "base.html" %}

{% block title %}Picks{% endblock %}

{% block content %}
<h2>Picks for Week {{ week }}</h2>
<h3>{{ player.name }}</h3>
{% if not edit and chosen and not expired %}
<span id="edit"><a href="/choose?handle={{ handle }}&edit=true">Change Picks</a></span>
{% endif %}

<form action="/choose" method="post">
<input type="hidden" name="handle" value="{{ handle }}"/>
<table>
{% for entry,team in chosen %}
  <tr{% if forloop.last %} class="last"{% endif %}>
    <td class="entry">{{ entry.name }}</td>
    {% if edit %}
    <td><select name="{{ entry.key.id }}">
    {% for t in teams %}
      <option {% if t == team %}selected="selected"{% endif %}>{{ t }}</option>
    {% endfor %}
    </select></td>
    {% else %}
    <td>{{ team }}</td>
    {% endif %}
  </tr>
{% endfor %}

{% for e in entries %}
  <tr{% if forloop.last %} class="last"{% endif %}>
    <td class="entry">{{ e.name }}</td>
    <td>
    {% if expired %}
    No Pick
    {% else %}
    <select name="{{ e.key.id }}">
    {% for team in teams %}
      <option>{{ team }}</option>
    {% endfor %}
    </select>
    {% endif %}
    </td>
  </tr>
{% endfor %}
</table>

{% if not expired %}
{% if entries or edit %}
<input class="center" type="submit" value="Save" />
{% endif %}
{% endif %}

</form>
{% if expired %}
<span>The deadline has passed and you cannot change your picks.</span>
{% endif %}

{% endblock %}

