{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="hero-unit">
<img src="/img/jack.png" style="float:left; margin-right: 20px"/>
<p>The Jack Gonzales' NFL Suicide Pool is back! As always, the rules are simple: <br/><strong>Pick a winner each week</strong></p>
<a class="btn btn-primary btn-large" style="margin-right: 20px;"href="/rules">Read the Rules >></a>
<a class="btn btn-primary btn-large" href="/results">2011 Results >></a>
<div class="clearfix"></div>
{% endblock %}
