{% extends "base.html" %}

{% block title %}Picks{% endblock %}

{% block content %}
<div class="well row {% if deadline_passed %}alert-error{% endif %} header">
<h3>Picks for Week {{ week }}</h3>
<h4>{% if deadline_passed %} Too late, moron!{% else %} Deadline: {{ deadline }}{% endif %}</h4>
<!--<div class="pull-right deadline"><strong>Deadline{% if deadline_passed %} passed{% endif %}</strong>: {{ deadline }}</div>-->
</div>

<div class="accordion" id="picker" current-time="{{ current_time }}">
{% for entry_name,entry_id,pick in picks %}
    <div class="accordion-group" entry-id="{{ entry_id }}" selected-team-id="{{ pick.team }}">
        <div class="accordion-heading">
            <span class="entry team-chosen" id="entry-{{ entry_id }}-team">{{ pick.team_fullname }}</span>
            {% if deadline_passed or pick.closed %}
            <span class="entry closed">{{ entry_name }}</span>
            {% else %}
            <a class="entry accordion-toggle" href="#entry{{ entry_id }}" data-toggle="collapse" data-parent="#picker">{{ entry_name }}</a>
            {% endif %}
        </div>
        {% if not deadline_passed and not pick.closed %}
        <div id="entry{{ entry_id }}" class="accordion-body collapse games">
        <hr class="line" />
        <img src="/img/loading-big.gif"/>
        </div>
        {% endif %}
    </div>
{% endfor %}
</div>

{% endblock %}
