{% extends "base.html" %}

{% block title %}Picks{% endblock %}

{% block content %}
<div class="well row {% if deadline_passed %}alert-error{% endif %} header">
<h3>Picks for Week {{ week }}</h3>
<h4>{% if deadline_passed %} Too late, moron!{% else %} Deadline: {{ deadline }}{% endif %}</h4>
<!--<div class="pull-right deadline"><strong>Deadline{% if deadline_passed %} passed{% endif %}</strong>: {{ deadline }}</div>-->
</div>

<div class="accordian" id="picker">
<form action="/picks" method="post">
{% for entry_name,entry_id,pick in picks %}
    <div class="accordian-group" style="border: 1px solid #E5E5E5; border-radius: 4px 4px 4px 4px; margin-bottom: 2px">
        <div class="accordian-heading" style="border-bottom: 0 none">
            <span class="entry team_chosen" id="entry_{{ entry_id }}_team">{{ pick.team_city }}</span>
            {% if deadline_passed %}
            <span class="entry accordian-toggle">{{ entry_name }}</span>
            {% else %}
            <a class="entry accordian-toggle" href="#entry{{ entry_id }}" entry-id="{{ entry_id }}" selected-team="{{ pick.team }}" data-toggle="collapse" data-parent="#picker">{{ entry_name }}</a>
            {% endif %}
        </div>
        <div id="entry{{ entry_id }}" class="accordian-body collapse games">
        {% if not deadline_passed %}
        <hr style="margin:0" />
        {% for game in games %}
            <div class="visual_pick">
                <div class="pick_header">
                    <div class="pull-right">
                    {{ game.date|date:'g:ia' }}
                    </div>
                    <div class="date">{{ game.date|date:'l, N j' }}</div>
                </div>
                <a class="team_select" href="">
                    <div class="team_info visiting" id="entry_{{ entry_id }}_team_{{ game.visiting }}" team-id="{{ game.visiting }}" team-name="{{ game.visiting_city }}" entry-id="{{ entry_id }}">
                        <div class="status alert"></div>
                        <div class="team_box">
                            <div class="team_logo" style="background-position:-{{ game.visiting_x }}px -{{ game.visiting_y }}px"></div>
                            <div class="team_city">{{ game.visiting_city }}</div>
                            <div class="team_mascot">{{ game.visiting_mascot }}</div>
                        </div>
                    </div>
                </a>
                <a class="team_select" href="">
                    <div class="team_info" id="entry_{{ entry_id }}_team_{{ game.home }}" team-id="{{ game.home }}" team-name="{{ game.home_city }}" entry-id="{{ entry_id }}">
                        <div class="status"></div>
                        <div class="team_box">
                            <div class="team_logo" style="background-position:-{{ game.home_x }}px -{{ game.home_y }}px"></div>
                            <div class="team_city">{{ game.home_city }}</div>
                            <div class="team_mascot">{{ game.home_mascot }}</div>
                        </div>
                    </div>
                </a>
                <div class="at">at</div>
            </div>
        {% endfor %}
        {% endif %}
        </div>
    </div>
{% endfor %}
</form>
</div>

{% endblock %}
