{% extends "base.html" %}

{% block title %}
Rules
{% endblock %}

{% block header %}
<h2>Rules</h2>
{% endblock %}

{% block content %}
<ul>
<li>Pick one team to win a game each week.</li>
<li>There is no limit on the number of entries a single person can have.</li>
<li>Teams playing games on Thursday’s will not be available for participants to select.</li>
<li>A player may not select the same team two weeks in a row unless that player is eliminated and buys back in.</li>
<li>The deadline for each week shall be every Saturday by 11 p.m. unless notice is given by the commissioner.</li>
<li>Which week a game falls into is decided by the official NFL schedule.</li>
<li>A participant that does not make a weekly pick will be eliminated.</li>
<li>The pool ends when: There is one participant remaining, or after the Super Bowl where the remaining participants are named co-champions, or all of the remaining players decide to split the pot evenly (decision must be unanimous amongst remaining players). If all remaining players lose in the same week, a unanimous vote to continue the competition will be allowed.</li>
</ul>
{% endblock %}
