{% extends "base.html" %}

{% block title %}
Rules
{% endblock %}

{% block header %}
<h2>Rules</h2>
{% endblock %}

{% block content %}
<h2>Rules</h2>
<ul>
<li>Pick one team to win a game each week.</li>
<li>There is no limit on the number of entries a single person can have.</li>
<li>Teams playing games on Thursday’s will not be available for participants to select.</li>
<li>A player may not select the same team two weeks in a row unless that player is eliminated and buys back in.</li>
<li>The deadline for each week shall be every Saturday by 11 p.m. unless notice is given by the commissioner.</li>
<li>Which week a game falls into is decided by the official NFL schedule.</li>
<li>New Players are allowed through week 4. $50 (total) to get in for the start of week 2, $75 to get in for week 3, or $100 to get in for week 4. No new entries will be allowed after week 4. The entry fee due date for those that enter the pool after week 1 is the same as the weekly pick deadline.</li>
<li>If the team selected by participant wins, he/she shall continue onto the next week with no further money due. If the team selected loses or ties, participant shall be eliminated. However, $25 buybacks are allowed through week 4.</li>
<li>After week 4 games, buy back shall be discontinued. If a participant skips a week, and then chooses to buy back, $25 for the weeks missed shall also be due. The Buy Back Money Deadline is the same as the Weekly Pick Deadline.</li>
<li>A participant that does not send in a weekly pick will be eliminated.</li>
<li><b>NO EXCEPTIONS ON MONEY DUE.</b> If money is not received by deadline, team selections will not be
allowed</li>
<li>The pool ends when: There is one participant remaining, or after the Super Bowl where the pot is automatically divided amongst the remaining participants, or all of the remaining players decide to split the pot evenly (decision must be unanimous amongst remaining players). If all remaining players lose in the same week, a unanimous vote to continue the competition will be allowed.</li>
<li>Updates will be sent prior to the start of each week’s games, via e-mail, with a complete list of all participant picks, the number of players eliminated, the number of buy backs, and total money available to the potential winner.</li>
</ul>
{% endblock %}
