{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block content %}

<div class="pull-left">

<div id="new-user-form" class="control-box">
<h4>Create User</h4>
<label>Email</label><input type="text" id="new-email" placeholder="joe@example.com" />
<label>Entries</label><input type="text" id="new-num-entries" placeholder="1" />
<button class="btn btn-primary pull-right">Create user</button>
<div class="clearfix"></div>
</div>

<div class="control-box">
<h4>Unactivated</h4>
<table class="table" id="unactivated-users">
{% for user in new_users %}
<tr><td>{{ user.0.email }}</td><td><a class="btn btn-small btn-info" href="/login/{{ user.3 }}">Login</a></td><td><button class="btn btn-small btn-info resend" user-id="{{ user.0.key.id }}">Resend</button></td></tr>
{% endfor %}
</table>
</div>

</div>

<div id="users-list" class="tabbable">
    <div class="tab-header">
    {% for section in users %}
        <a {% if section.1 %}href="#users{{ section.0 }}" data-toggle="tab" {% else %}class="muted"{% endif %}><div>
            {% if section.1 %}<strong>{{ section.0 }}</strong>
            {% else %}{{ section.0 }}
            {% endif %}
        </div></a>
    {% endfor %}
    </div>

    <div class="tab-content">
    {% for section in users %}

        {% if section.1 %}
        <div class="tab-pane accordion {% if forloop.first %}active{% endif %}" id="users{{ section.0 }}">
            {% for user in section.1 %}
            <div class="accordion-group users-section">
                <div class="accordion-heading"><a class="accordion-toggle" href="#user{{ user.0.key.id }}" data-toggle="collapse" data-parent="#users{{ section.0 }}">{{ user.0.name }} <small> - {{user.0.email }}</small></a></div>
                <div id="user{{ user.0.key.id }}" class="accordion-body collapse">
                    <h5>Actions</h5>
                    <div class="btn-group btn-group-vertical" user-id="{{ user.0.key.id }}">
                        <a class="btn" href="/login/{{ user.3 }}" >Login as user</a>
                        <a class="btn send-pick-links">Send Picks Email</a>
                        <a class="btn new-entry-btn">Add Entry</a>
                    </div>
                    <h5 class="entries-section">Entries</h5>
                    {% if user.2 != 0 %}
                    <div class="alert alert-info">{{ user.2 }} new entries</div>
                    {% endif %}
                    <table class="entry-table">
                        {% for entry in user.1 %}
                        {% if entry.activated %}
                        <tr>
                            <td class="status">{% if entry.alive %}<span class="label label-success">Alive</span>{% else %}<span class="label label-important">Eliminated</span>{% endif %}</td>
                            <td>{{ entry.name }}</td> 
                            <td>{% if not entry.alive %}<button class="btn buyback" entry-id="{{ entry.key.id }}">Buyback</button>{% endif %}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                    </table>                    
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
</div>

{% endblock %}
